.sectionHeading {
  margin-bottom: var(--spacing-xl);
}

.experienceContainer {
  margin-bottom: var(--spacing-5xl);
}

.headingContainer {
  display: flex;
  white-space: pre-wrap;
}

.title {
  display: flex;
  flex-direction: column;
}

.link {
  float: right;
  position: relative;
}

.period {
  margin-top: var(--spacing-2xs);
  font-size: var(--font-sm);
}

.descriptions {
  padding: 0;
  margin-top: var(--spacing-md);
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: var(--spacing-lg);

    &:before {
      content: "▹"; // ▹ or >
      position: absolute;
      left: 0;
      color: var(--primary-blue);
      font-size: 17px;
      line-height: 20px;
    }
  }
}

@media (max-width: 769px) {
  .link {
    float: none;
  }
}

@media (min-width: 769px) {
  .title {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .descriptions {
    li {
      &:before {
        line-height: 22px;
      }
    }
  }
}
