.backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1000;
  transition: 0.3s ease-in;

  &.backdropOpen {
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 990;
  }
}

.container {
  position: absolute;

  width: 100%;
  background-color: var(--white);
  display: grid;
  align-items: center;
  left: 0;
  transition: 0.3s ease-in-out;
  top: -35%;

  &.open {
    top: 0;
  }
}

.wrapper {
  margin-top: 56px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 50px);
  padding: 0 var(--spacing-base);
}

.link {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: var(--true-black);
  cursor: pointer;

  &:hover {
    color: var(--primary-blue);
  }
}

@media screen and (max-width: 768px) {
  .backdrop {
    display: block;
  }
}
