.nav {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2xl) var(--spacing-8xl) var(--spacing-xs)
    var(--spacing-8xl);
  z-index: 1000;
}

.nav-link {
  z-index: inherit;
  color: var(--true-black);
  display: flex;
  align-items: center;
  text-decoration: none;

  height: 100%;
  cursor: pointer;

  display: inline-block;
  margin: 0;

  &::after {
    display: block;
    content: "";
    border-bottom: solid 3px var(--true-black);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
    width: 99.7%; // To avoid glitchy animation, i suspect this has to be below 100%
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
}

.nav-link-active {
  color: var(--primary-blue);

  &::after {
    border-bottom: solid 3px var(--primary-blue);
  }
}

.nav-menu-item {
  padding: 0 1rem;
}

.hamburger {
  display: none;
  color: var(--true-black);
}

.navmenu {
  display: flex;
  align-items: center;
}

.btn {
  margin: var(--spacing-sm);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1001;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .navmenu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    position: fixed;
    padding: var(--spacing-lg) var(--spacing-base) 0 var(--spacing-base);
  }

  .info {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    padding: var(--spacing-lg) var(--spacing-3xl) 0 var(--spacing-3xl);
  }

  .info {
    width: auto;
  }
}
