/*
We use module.css and not module.scss for this because "max(30vh, var(--top-inset))" 
gives an error on scss.
*/

.heroSection {
  padding-top: max(30vh, var(--top-inset)) !important;
}

.introText {
  margin-bottom: var(--spacing-xs);
}

.subheading {
  color: var(--primary-blue);
}

.info {
  width: 40vw;
  margin-top: var(--spacing-lg);
}

.ctaButton {
  width: 20vw;
  margin-top: var(--spacing-3xl);
}

.link {
  display: inline-block;
}

@media (max-width: 1024px) {
  .text {
    font-size: var(--font-base);
  }

  .info {
    width: auto;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 85vh;
  }

  .info {
    width: auto;
  }

  .ctaButton {
    min-width: 162.5px;
    width: 50vw;
  }
}
