.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;

  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-8xl);
}

.text {
  font-size: var(--font-sm);
}

.linkContainerDesktop {
  display: flex;
}

.link {
  margin: 0 var(--spacing-base);
}

.linkContainerMobile {
  display: none;
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    padding: 0;
    padding-bottom: var(--spacing-base);

    height: auto;
    position: relative;
  }

  .linkContainerDesktop {
    display: none;
  }

  .linkContainerMobile {
    display: flex;
    margin-top: var(--spacing-md);
  }

  .text {
    font-size: var(--font-sm);
    font-weight: 600;
  }
}
