.heading {
  font-weight: var(--font-bold);
  font-size: var(--font-base);
  margin: 0;

  &.centered {
    text-align: center;
  }

  &.noLeading {
    line-height: 1;
  }

  &.sm {
    font-size: var(--font-sm);
  }

  &.base {
    font-size: var(--font-base);
  }

  &.md {
    font-size: var(--font-md);
  }

  &.lg {
    font-size: var(--font-lg);
    line-height: var(--font-xl);
  }

  &.xl {
    font-size: var(--font-xl);
    line-height: var(--font-2xl);
  }

  &.twoxl {
    font-size: var(--font-2xl);
    line-height: 38px;
  }

  &.threexl {
    font-size: var(--font-3xl);
  }
}

@media (max-width: 480px) {
  .heading {
    &.threexl {
      font-size: var(--font-2xl);
    }

    &.twoxl {
      font-size: var(--font-xl);
      line-height: 38px;
    }

    &.xl {
      font-size: var(--font-lg);
      line-height: var(--font-xl);
    }
  }
}
