.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: var(--spacing-2xl); */
  min-height: 90vh;
}

.main {
  padding: 0 var(--spacing-8xl) 0 var(--spacing-8xl);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1600px;
}

.main section {
  min-height: 100vh;
  padding-top: 100px;
}

@media (max-width: 1024px) {
  .main {
    padding: 0 var(--spacing-3xl) var(--spacing-lg) var(--spacing-3xl);
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
  }
}
